@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Inter", sans-serif;
    
    box-sizing: border-box;
}

:root{
    --Primary: #2563EB;
    --Primary-Dark: #1D4ED8;
    --Primary-Light: #DBEAFE;
    --Secondary:  #F8FAFC;
    --Accent:        #10B981;
    --Warning:       #F59E0B;
    --Error:         #EF4444;
    --Info:          #8B5CF6;
    --Text-Primary:  #1F2937;
    --Text-Secondary:#6B7280;
    --Border-Color:        #E5E7EB;
    --Background-Color:    #FFFFFF;
    --Sidebar-BG:    #1F2937;
}
